<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .head_top {
            height: 40px;
            line-height: 40px;
            /* background-color: #F4F4F4; */
            background-color: #363636;
            font-size: 12px;
        }

        .wfs {
            width: 100%;
        }

        .cover-page-wrapper {
            width: 1210px;
            margin: 0 auto;
        }

        .head_top {
            height: 40px;
            line-height: 40px;
            /* background-color: #F4F4F4; */
            background-color: #363636;
            font-size: 12px;
        }

        .head_top .top_l {
            left: -12px;
            position: relative;
        }

        .fl {
            float: left;
        }

        .head_top .fore {
            padding: 0 12px;
            z-index: 1100;
        }

        .head_top li {
            float: left;
            list-style-type: none;
        }

        .fr {
            float: right;
        }


    </style>

</head>
<body>
<div class="wfs head_top">
    <div class="cover-page-wrapper">
        <ul class="fl top_l">
            <li class="fore">
                <a href="#">17交流网</a>
                <span>：中文英文Destoon7.0模板,各种商业网站源码，网站模板分享基地！</span>
            </li>
        </ul>
        <ul class="fr top_r">
            <li class="fore">
                <a href="#">您好，zgx</a>
            </li>
            <li class="spacer"></li>
            <li class="fore">
                <a href="#">我要退出</a>
            </li>
        </ul>
    </div>
</div>


<div id="head-fix" class="head fl wfs nav-wrap" style="height: 108px;">
    <div class="cover-page-wrapper head_logo_nav">
        <div class="logo fl"> <a href="/"><img src="https://www.17jiaoliu.com/17jiaoliucom02/picture/logo.png" title="17交流网" alt="17交流网"></a> </div>
        <script src="/17jiaoliucom02/js/head.js"></script>
        <div class="m_nav fr" style="display:none;"> <a href="javascript:;" class="menuHandler"></a> </div>

        <div class="index-head-menu" style="display:none;">
            <div class="inner">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="/" class="menu-link">网站首页</a> </li>
                    <li class="menu-item"><a href="/muban/" class="menu-link">模板交易</a> </li>
                    <li class="menu-item menu-item-dropdown"> <a href="javascript:;" class="menu-link">赞助源码</a>
                        <div class="dropdown-wrap">
                            <dl class="sub-menu no-border">
                                <dd><a href="/yuanma/">全部</a></dd>
                                <dd><a href="/dede/" target="_blank">织梦专区</a></dd>
                                <dd><a href="/dede/" target="_blank">织梦专区</a></dd>
                                <dd><a href="/xiaochengxu/" target="_blank">小程序</a></dd>
                                <dd><a href="/yuanma/" target="_blank">网站源码</a></dd>
                            </dl>
                            <dl class="sub-menu no-border">
                                <dd><a href="/yuanma/list-77.html" target="_blank">电影源码</a></dd>
                                <dd><a href="/yuanma/list-83.html" target="_blank">小说源码</a></dd>
                                <dd><a href="/yuanma/list-80.html" target="_blank">游戏源码</a></dd>
                                <dd><a href="/yuanma/list-82.html" target="_blank">商城源码</a></dd>


                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <ul class="nav_head fl">
            <li class="active"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">  网站首页</a> </li>

            <li class=""> <a href="https://www.17jiaoliu.com/muban/">服务交易</a></li>

            <li class=""> <a style="padding-right: 30px;">
                模板交易<i class="fontello-icon-angle-down"></i></a>
                <div class="sublistbox" style="display: block; opacity: 0; height: 0px;">
                    <ul>

                        <li class="sublist_first" style="margin-left:42px;">

                            <a href="https://www.17jiaoliu.com/muban/list-106.html">
                                <div><img alt="行业电商" title="行业电商" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/sublistimg20.jpg"></div>
                                <p>行业电商</p>
                            </a></li>

                        <li class=""><a href="https://www.17jiaoliu.com/muban/list-107.html">
                            <div><img alt="英文外贸" title="英文外贸" src="/17jiaoliucom02/picture/sublistimg1.png"></div>
                            <p>英文外贸</p>
                        </a></li>

                        <li><a href="https://www.17jiaoliu.com/muban/list-176.html">
                            <div><img alt="资源下载站" title="资源下载站" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/sublistimg1.png"></div>
                            <p>资源下载站</p>
                        </a></li>

                        <li><a href="https://www.17jiaoliu.com/muban/list-177.html">
                            <div><img alt="分类门户" title="分类门户" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/sublistimg21.jpg"></div>
                            <p>分类门户</p>
                        </a>
                        </li>



                    </ul>
                </div>
            </li>




            <li class=""> <a target="_blank" style="padding-right: 30px;">免费资源<i class="fontello-icon-angle-down"></i></a>
                <div class="sublistbox" style="display: block; overflow: hidden; height: 0px; opacity: 0;">
                    <div class="wpic">
                        <div class="hd"> <a class="next"></a> <a class="prev prevStop"></a> </div>
                        <div class="bd">
                            <div class="tempWrap" style="overflow:hidden; position:relative; width:1116px">
                                <div class="tempWrap" style="overflow:hidden; position:relative; width:1116px">

                                    <div class="tempWrap" style="overflow:hidden; position:relative; width:1116px"><div class="tempWrap" style="overflow:hidden; position:relative; width:1116px"><ul style="width: 3069px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">




                                        <li class="sublist_first" style="float: left; width: 280px;"><a href="https://www.17jiaoliu.com/dede/">
                                            <div><img alt="织梦模板" title="织梦模板" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/sublistimg20.jpg"></div>
                                            <p>织梦模板</p>
                                        </a></li>

                                        <li class="sublist_first" style="float: left; width: 280px;"><a href="https://www.17jiaoliu.com/yuanma/list-80.html">
                                            <div><img alt="游戏源码" title="游戏源码" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/sublistimg23.jpg"></div>
                                            <p>游戏源码</p>
                                        </a></li>


                                        <li class="sublist_first" style="float: left; width: 280px;"><a href="https://www.17jiaoliu.com/xiaochengxu/">
                                            <div><img alt="小程序" title="小程序" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/sublistimg22.jpg"></div>
                                            <p>小程序</p>
                                        </a></li>




                                        <li class="sublist_first" style="float: left; width: 280px;"><a href="https://www.17jiaoliu.com/yuanma/">
                                            <div><img alt="商业源码" title="商业源码" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/sublistimg8.png"></div>
                                            <p>商业源码</p>
                                        </a></li>

                                        <li class="sublist_first" style="float: left; width: 280px;"><a href="https://www.17jiaoliu.com/wzmb/">
                                            <div><img alt="网站模板" title="网站模板" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/sublistimg1.png"></div>
                                            <p>网站模板</p>
                                        </a></li>

                                        <li class="sublist_first" style="float: left; width: 280px;"><a href="https://www.17jiaoliu.com/bootstrap/">
                                            <div><img alt="Bootstrap模板" title="Bootstrap模板" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/sublistimg21.jpg"></div>
                                            <p>Bootstrap模板</p>
                                        </a></li>


                                        <li class="sublist_first" style="float: left; width: 280px;"><a href="https://www.17jiaoliu.com/jianzhan/">
                                            <div><img alt="视频教程" title="视频教程" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/sublistimg5.png"></div>
                                            <p>视频教程</p>
                                        </a></li>




                                        <li class="sublist_first" style="float: left; width: 280px;"><a href="https://www.17jiaoliu.com/xiaogongju/">
                                            <div><img alt="软件工具" title="软件工具" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/jjfa_dsgw.png"></div>
                                            <p>软件工具</p>
                                        </a></li>

                                        <li class="sublist_first" style="float: left; width: 280px;"><a href="https://www.17jiaoliu.com/wangyedaima/">
                                            <div><img alt="网页代码" title="网页代码" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/jjfa_sxds.png"></div>
                                            <p>网页代码</p>
                                        </a></li>



                                        <li class="sublist_first" style="float: left; width: 280px;"><a href="https://www.17jiaoliu.com/wzdh/" target="_blank">
                                            <div><img alt="网站目录" title="网站目录" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/jjfa_kjls.png"></div>
                                            <p>网站目录</p>
                                        </a></li>




                                        <li class="sublist_first" style="float: left; width: 280px;"><a href="https://www.17jiaoliu.com/news/" target="_blank">
                                            <div><img alt="文章资讯" title="文章资讯" src="https://www.17jiaoliu.com/17jiaoliucom02/picture/sublistimg7.png"></div>
                                            <p>文章资讯</p>
                                        </a></li>






                                    </ul></div></div></div></div>
                        </div>
                    </div>
                </div>
            </li>


            <li class=""> <a href="https://www.17jiaoliu.com/tags/">分类标签</a></li>

            <!-- <li> <a target="_blank" style="padding-right: 30px;">解决方案<i class="fontello-icon-angle-down"></i></a>
           <div class="sublistbox" style="display: block; overflow: hidden; height: 0px; opacity: 0;">
             <div class="wpic">
               <div class="hd"> <a class="next"></a> <a class="prev prevStop"></a> </div>
               <div class="bd">
                 <div class="tempWrap" style="overflow:hidden; position:relative; width:1116px"><div class="tempWrap" style="overflow:hidden; position:relative; width:1116px"><ul style="width: 1674px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                   <li class="sublist_first" style="float: left; width: 280px;"><a href="javascript:alert('联系客服QQ！')" target="_blank">
                     <div><img alt="仿站定制" title="仿站定制" src="/17jiaoliucom02/picture/jjfa_kjls.png"></div>
                     <p>仿站定制</p>
                     </a></li>
                   <li class="sublist_first" style="float: left; width: 280px;"><a href="javascript:alert('联系客服QQ！')" rel="nofollow" target="_blank">
                     <div><img alt="JS特效定制" title="JS特效定制" src="/17jiaoliucom02/picture/jjfa_sxds.png"></div>
                     <p>JS特效定制</p>
                     </a></li>
                   <li class="sublist_first" style="float: left; width: 280px;"><a href="javascript:alert('联系客服QQ！')" rel="nofollow" target="_blank">
                     <div><img alt="火车头规则" title="火车头规则" src="/17jiaoliucom02/picture/jjfa_zhbh.png"></div>
                     <p>火车头规则</p>
                     </a></li>
                   <li class="sublist_first" style="float: left; width: 280px;"><a href="javascript:alert('开发中...')" rel="nofollow" target="_blank">
                     <div><img alt="PS修图" title="PS修图" src="/17jiaoliucom02/picture/jjfa_ncds.png"></div>
                     <p>PS修图</p>
                     </a></li>


                   <li class="sublist_first" style="float: left; width: 280px;"><a href="javascript:alert('开发中...')" rel="nofollow" target="_blank">
                     <div><img alt="IIS+MYSQL环境搭建" title="IIS+MYSQL环境搭建" src="/17jiaoliucom02/picture/jjfa_dsgw.png"></div>
                     <p>IIS+Mysql环境搭建</p>
                     </a></li>
                   <li class="sublist_first" style="float: left; width: 280px;"><a href="javascript:alert('联系客服QQ！')" rel="nofollow" target="_blank">
                     <div><img alt="阿里云服务器（ECS）" title="阿里云服务器（ECS）" src="/17jiaoliucom02/picture/jjfa_aly.png"></div>
                     <p>阿里云服务器（ECS）</p>
                     </a></li>
                 </ul></div></div>
               </div>
             </div>
           </div>
         </li>
         -->




        </ul>
        <form id="destoon_search" action="https://www.17jiaoliu.com/search.php" onsubmit="return Dsearch();" class="search-product fl" target="_blank">
            <button class="fontello-icon-search fr" type="image"></button>
            <input autocomplete="off" name="kw" id="destoon_kw" type="text" placeholder="搜索“”频道" value="" class="form-control search-box fr">
            <input type="hidden" name="moduleid" value="$moduleid" id="destoon_moduleid">
            <input type="hidden" name="spread" value="0" id="destoon_spread">
            <div style="display:none">
            </div>
        </form>
    </div>
</div>




</body>
</html>