<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="footer" th:fragment="footer">
    <div class="containers">
        <div class="footer-service clearfix">
            <div class="service-item item-1">
                <i></i>
                <span class="text">5000+资源</span>
            </div>
            <div class="service-item item-2">
                <i></i>
                <span class="text">网盘高速下载</span>
            </div>
            <div class="service-item item-3">
                <i></i>
                <span class="text">用户分享推荐</span>
            </div>
            <div class="service-item item-4">
                <i></i>
                <span class="text">资深建站客服</span>
            </div>
            <div class="service-item item-5">
                <i></i>
                <span class="text">专注源码领域</span>
            </div>
        </div>
        <div class="footer-splite"></div>
        </br>
        <div class="footer-copyright">
            <p> © 2015-2019 17交流网(www.17jiaoliu.com) 版权所有 SYSTEM All Rights Reserved. 并保留所有权利
                </br>
                声明：本网站所有php网站源码、软件和资料均为软件作者提供和网友推荐收集各大资源网站整理而来，php网站源码仅供学习和研究使用。不得使用于非法商业用途，不得违反国家法律。一切关于该资源商业行为与www.17jiaoliu.com无关。如有侵权、不妥之处，请联系站长以便删除。敬请谅解！侵权/投稿邮箱：3415527965@qq.com
                </br>
                <a href="#" target="_blank">站长统计</a>
                <a href="#" target="_blank"> |  今日IP[169] | 今日PV[1203] | 昨日IP[653] |  昨日PV[3558] | </a>
                <a href="#" target="_blank">当前在线[19]</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>