<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" th:fragment="footer">
    <div class="row">
        <div class="col-md-12">
            <footer id="footer" role="contentinfo">
                &copy; 2019 <a href="#">BootstrapBlog 主题</a>.
                <a target="_blank" href="#">鲁ICP备16034533号-1</a> .
                由 <a href="#" target="_blank">Typecho</a> 强力驱动.
                Theme by <a href="#" target="_blank">Postbird</a>.
            </footer><!-- end #footer -->
        </div>
    </div>
</div>

</body>
</html>