<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header" class="clearfix" th:fragment="topHeader">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}"
               title="基于Bootstrap4的响应式typecho博客主题">个人博客</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{/}">首页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/category}"
                           title="文章分类"><span>文章分类</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/archive}"
                           title="文章归档"><span>文章归档</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/label}"
                           title="标签"><span>标签</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/link}"
                           title="友链"><span>友链</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}"
                           title="关于"><span>关于</span></a>
                    </li>
                </ul>
                <div class="navbar-text">
                    <form method="post" action="" class="search-form form-inline">
                        <div class="form-group">
                            <input type="search" name="s" class="form-control form-control-sm"/>
                            <button class="btn btn-info btn-sm">搜索</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header><!-- end #header -->

</body>
</html>