<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wfs head_top" th:fragment="toPersonal">
    <div class="cover-page-wrapper">
        <ul class="fl top_l">
            <li class="fore">
                <a href="#">：中文英文Destoon7.0模板,各种商业网站源码，网站模板分享基地！</a>
            </li>
            <li class="fore">您好，zgx</li>
            <li>||</li>
            <li class="fore">我要退出</li>
        </ul>
    </div>
</div>
</body>
</html>